/* 按省选择开始 */
.body-content-main{
    width: 100%;
    margin-top: 40px;
}
.body-content{
    width: 1193px;
    min-height: 1000px;
    padding: 0px 20px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}
.proviceC,
.hotCity,
.rencentCity{
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.proviceC .proviveOpt{
    display: inline-block;
}
.proviceChoose,
.cityChoose{
    width: 100px;
    height: 40px;
    color: #666;
    margin: 0 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}
label{
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: inline-block;
}
.labelAdd{
    width: 100px;
    height: 40px;
    padding-top: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: inline-block;
}
.proviceSearch{
    padding-left: 10px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
}
.btn {
    width: 70px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #FFC300;
    outline: none;
    background-color: #fff;
    margin: 0 10px;
	color:#000;
	cursor: pointer;
}
.btn:disabled{
    background-color:#FFC300;
	cursor: not-allowed;
}
/* 提交按钮 */
#cityto{
    width: 70px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #FFC300;
    outline: none;
    background-color: #FFC300;
    margin: 0 10px;
	color:#000;
	cursor: pointer;
}
/* 按省选择结束 */
/* 热门城市开始 */
.rencentCity a,
.hotCity a{
    margin: 0 20px;
    color: #666;
    display: inline-block;
    cursor: pointer;
}
/* 热门城市结束 */
/* 按拼音首字母选择 */
#letter{
    padding: 20px;
    padding-bottom: 30px;
}
#letter span{
    width: 145px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: inline-block;
}
#letter a{
    width: 15px;
    height: 15px;
    margin-right:15px;
    padding-left: 4px;
    color: #666;
    display: inline-block;
    cursor: pointer;

    border-radius: 50%;
}
#letter a:hover{

    background: #F8F8F8;
    font-weight: 500;
    color: #222222;
}
/* 字母地区 */
.city-area{
    padding: 13px 30px 13px 10px;
    border-radius: 10px;
    transition: background-color 500ms;
}
.letterTitle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #222222;
    background: #FFD000;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}
.city-area .cities{
    display: inline-block;
    max-width: 1065px;
}
.city-area .cities a{
    display: inline-block;
    margin: 10px 20px;
    color: #666;
    font-size: 14px;
}